html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

body {
  background: #007bff;
  background: linear-gradient(to right, #0062e6, #33aeff);
}
